
// Col list function

@function col-flex($col-num, $flex-percent: $col-percent) {
    @return ($flex-percent * $col-num) * 1%;

}

@for $i from 1 through 12 {
    .theme.col-#{$i} {
      background-color: adjust-hue($accent-color-light, $i * 12);
    }

  }


  @mixin margin {
    margin-left: auto;
    margin-right: auto;
    display: block;
   }

   