// Descriptive color variables

$white          : #fff;
$black          : #000;
$grey           : #878787;
$dark-green     : #CCD5AE;
$light-green  : #E9EDC9;
$burnt-orange  : #D4A373;
$light-beige : #FEFAE0;
$dark-beige : #FAEDCD;

// Functional color variables

$color-border-light : lighten($grey, 35%);
$color-shadow       : rgba($black,.8);
$color-body         : $white;
$color-text         : $grey;

$error-color: $burnt-orange;
$warning-color :lighten($error-color, 20%);
$main-color-dark: $dark-green;
$main-color-light: $light-green;
$accent-color-dark: $dark-beige;
$accent-color-light: $light-beige;

$color-link-default : $main-color-dark;
$color-link-visited : $main-color-light;
$color-border-dark  : $main-color-dark;

// Media Queries

$col-percent: 8.3333333333;

// Button colors

 $button-color: (
    'default': $main-color-light,
    'error': $error-color, 
    'info': $accent-color-dark, 
    'success': $main-color-dark, 
    'warning': $warning-color);