// Descriptive color variables

$white          : #fff;
$black          : #000;
$grey           : #878787;
$dark-green     : #CCD5AE;
$light-green  : #E9EDC9;
$light-beige : #FEFAE0;
$dark-beige : #FAEDCD;

// Functional color variables

$color-border-light : lighten($grey, 35%);
$color-shadow       : rgba($black,.8);
$color-body         : $white;
$color-text         : $grey;

$error-color: #e4757a;
$warning-color :#fd7856;
$main-color-dark: #63cc82;;
$main-color-light: #51ddfc;
$accent-color-dark: #927bc1;
$accent-color-light: #58e1c1;

$color-link-default : $main-color-light;
$color-link-visited : $main-color-dark;
$color-border-dark  : $main-color-dark;

// Media Queries

$width: 768px;
$col-percent: 8.3333333333;

// Button colors

 $button-color: (
    'default': $main-color-light,
    'error': $error-color, 
    'info': $accent-color-dark, 
    'success': $main-color-dark, 
    'warning': $warning-color);

//Grid colors

$grid-color: (
   'col-1':#927bc1,
   'col-2':#fd7856,
   'col-3':#deb2ee,
   'col-4':#7ee6fd,
   'col-5':#88d9a0,
   'col-6':#4da2bb,
   'col-7':#ec9fa3,
   'col-8':#fd9f85,
   'col-9':#e4757a,
   'col-10':#63cc82,
   'col-11':#51ddfc,
   'col-12':#80e8d1,
);