/* ============================================= */
/*              Buttons                          */
/* ============================================= */


.btn {
    margin-top: 15px;
    width: 100%;
    color: $color-body;
    border: none;
    padding: 10px 0;
    text-transform: uppercase;
    border-radius: 5px;

    }

    @each $btn-name, $btn-color in $button-color {
      .#{$btn-name} {
        background-color: $btn-color;
        &:hover {
          background-color: lighten($btn-color, 15%);
          transition: .5s ease-in-out;
      }
  }
}