/* ============================================= */
/*              Media Queries                    */
/* ============================================= */


@media (min-width: 768px) {

    .container {
      max-width: 1400px;
      @include margin;
    }
    
    .centered {
      @include margin;
    }
    
    .row {
      flex-direction: row;
    }
    
    [class^=col] {
      display: flex;
      justify-content: center;
      margin-top: 0;
      align-items: center;
      & + [class^=col] {
        margin-left: 10px;
      }
    }
    
    .nav {
      flex-direction: row;
      justify-content: flex-end;
      align-items: center;
      &-link {
        flex-basis: 100px;
      }
    }
    
    .btn {
      padding: 10px 30px;
      & + .btn {
        margin-left: 10px;
      }
    }
    
    .logo {
      margin-left: initial;
      margin-right: initial;
    }
    
    }